<br />
<h5 class="text-info"><strong>Cadastro de Preço</strong></h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form #formCadastroPrecoMedicamento="ngForm" (submit)="cadastrarPrecoMedicamento(formCadastroPrecoMedicamento)">
            <label>Selecione o Medicamento: </label>
            <select class="form-control" name="IdMedicamento" ngModel required>
                <option value="">Escolha uma opção</option>
                <option *ngFor="let item of medicamentos; let i = index"
                value="{{item.IdMedicamento}}">
                {{item.Nome}}
                </option>
                </select>
            <br>
            <label>Selecione a Farmácia: </label>
            <select class="form-control" name="IdFarmacia" ngModel required>
                <option value="">Escolha uma opção</option>
                <option *ngFor="let item of farmacias; let i = index"
                value="{{item.IdUsuario}}">
                {{item.Nome}}
                </option>
                </select>
            <br>
            <label>Concentração:</label>
            <input type="text" class="form-control" placeholder="Digite aqui" name="Concentracao" ngModel required />
            <br>
            <label>Apresentação:</label>
            <input type="text" class="form-control" placeholder="Digite aqui" name="Apresentacao" ngModel required />
            <br>
            <label>Preço:</label>
            <input type="text" class="form-control" currencyMask ngModel required name="Preco"
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
            <br>
            <label>Data início:</label>
            <input type="date" class="form-control" ngModel required name="Inicio" />
            <br>
            <label>Data fim:</label>
            <input type="date" class="form-control" ngModel required name="Fim"  />
            <br>
            <br />
            <button class="btn btn-success bg-info" type="submit">
                Cadastrar Preço
            </button>
            <br />
            <strong class="text-info">{{mensagem}}</strong>
            <br />
            <div style="width: 500px;white-space: pre-line"><strong class="text-danger">{{erro_editado}}</strong></div>
        </form>
    </div>
</div>