<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">Sistema Bula Fácil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-
    controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">

    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Página inicial <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria- expanded="false">
          Farmácia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cadastroFarmacia">Cadastrar Farmácia</a>
          <a class="dropdown-item" routerLink="consultaFarmacia">Consultar Farmácia</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria- expanded="false">
          Medicamento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cadastroMedicamento">Cadastrar Medicamento</a>
          <a class="dropdown-item" routerLink="consultaMedicamento">Consultar Medicamento</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria- expanded="false">
          Preços
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cadastroPrecoMedicamento">Cadastrar Preços</a>
          <a class="dropdown-item" routerLink="consultaPrecoMedicamento">Consultar Preços</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria- expanded="false">
          Bula fácil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="CadastroBulaFacil">Cadastrar Bula fácil</a>
          <a class="dropdown-item" routerLink="ConsultaBulaFacil">Consultar Bula fácil</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="card card-body bg-light text-center text-info">
  <div class="TopoPrincipal" class="center padding-top-20">
    <img src="/assets/img/iconbula.png" class="" width="80px" height="80px">
    <p><strong>Um Jeito simples de pesquisar a bula do seu medicamento.</strong></p>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>